* {
    box-sizing:  border-box;
}

html, body {
    background-color: #333;
    color: #fff;
    height: 100%;
    margin: 0;
    width: 100%;
    text-indent: 2em;
}

.main .keepalive .unregister .register .catalog .devGbId{
    background-color: #333;
    color: #fff;
    overflow: auto;
}

.title {
    font-size: 1.5em;
    text-align: center;
    word-wrap: break-word;
}